<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if site.resume_print_social_links %}
<ul>

  <!-- GitHub link -->
  {% if site.resume_social_links.resume_github_url %}
  <li><strong>Github</strong>: {{ site.resume_social_links.resume_github_url }}</li>
  {% endif %}

  <!-- Twitter link -->
  {% if site.resume_social_links.resume_twitter_url %}
  <li><strong>Twitter</strong>: {{ site.resume_social_links.resume_twitter_url }}</li>
  {% endif %}

  <!-- Medium link -->
  {% if site.resume_social_links.resume_medium_url %}
  <li><strong>Medium</strong>: {{ site.resume_social_links.resume_medium_url }}</li>
  {% endif %}

  <!-- Dribbble link -->
  {% if site.resume_social_links.resume_dribbble_url %}
  <li><strong>Dribbble</strong>: {{ site.resume_social_links.resume_dribbble_url }}</li>
  {% endif %}

  <!-- Facebook link -->
  {% if site.resume_social_links.resume_facebook_url %}
  <li><strong>Facebook</strong>: {{ site.resume_social_links.resume_facebook_url }}</li>
  {% endif %}

  <!-- LinkedIn link -->
  {% if site.resume_social_links.resume_linkedin_url %}
  <li><strong>LinkedIn</strong>: {{ site.resume_social_links.resume_linkedin_url }}</li>
  {% endif %}

  <!-- Instagram link -->
  {% if site.resume_social_links.resume_instagram_url %}
  <li><strong>Instagram</strong>: {{ site.resume_social_links.resume_instagram_url }}</li>
  {% endif %}

  <!-- Bluesky link -->
  {% if site.resume_social_links.resume_bluesky_url %}
  <li><strong>Bluesky</strong>: {{ site.resume_social_links.resume_bluesky_url }}</li>
  {% endif %}

  <!-- YouTube link -->
  {% if site.resume_social_links.resume_youtube_url %}
  <li><strong>YouTube</strong>: {{ site.resume_social_links.resume_youtube_url }}</li>
  {% endif %}

  <!-- Mastodon link -->
  {% if site.resume_social_links.resume_mastodon_url %}
  <li><strong>Mastodon</strong>: {{ site.resume_social_links.resume_mastodon_url }}</li>
  {% endif %}

  <!-- Threads link -->
  {% if site.resume_social_links.resume_threads_url %}
  <li><strong>Threads</strong>: {{ site.resume_social_links.resume_threads_url }}</li>
  {% endif %}

  <!-- Stack Overflow link -->
  {% if site.resume_social_links.resume_stackoverflow_url %}
  <li><strong>Stack Overflow</strong>: {{ site.resume_social_links.resume_stackoverflow_url }}</li>
  {% endif %}

  <!-- Wellfound link -->
  {% if site.resume_social_links.resume_wellfound_url %}
  <li><strong>Wellfound</strong>: {{ site.resume_social_links.resume_wellfound_url }}</li>
  {% endif %}

  <!-- Spotify link -->
  {% if site.resume_social_links.resume_spotify_url %}
  <li><strong>Spotify</strong>: {{ site.resume_social_links.resume_spotify_url }}</li>
  {% endif %}

  <!-- SoundCloud link -->
  {% if site.resume_social_links.resume_soundcloud_url %}
  <li><strong>SoundCloud</strong>: {{ site.resume_social_links.resume_soundcloud_url }}</li>
  {% endif %}

  <!-- TikTok link -->
  {% if site.resume_social_links.resume_tiktok_url %}
  <li><strong>TikTok</strong>: {{ site.resume_social_links.resume_tiktok_url }}</li>
  {% endif %}

  <!-- Pinterest link -->
  {% if site.resume_social_links.resume_pinterest_url %}
  <li><strong>Pinterest</strong>: {{ site.resume_social_links.resume_pinterest_url }}</li>
  {% endif %}

  <!-- Snapchat link -->
  {% if site.resume_social_links.resume_snapchat_url %}
  <li><strong>Snapchat</strong>: {{ site.resume_social_links.resume_snapchat_url }}</li>
  {% endif %}

  <!-- WhatsApp link -->
  {% if site.resume_social_links.resume_whatsapp_url %}
  <li><strong>WhatsApp</strong>: {{ site.resume_social_links.resume_whatsapp_url }}</li>
  {% endif %}

  <!-- VK link -->
  {% if site.resume_social_links.resume_vk_url %}
  <li><strong>VK</strong>: {{ site.resume_social_links.resume_vk_url }}</li>
  {% endif %}

  <!-- Website link -->
  {% if site.resume_social_links.resume_website_url %}
  <li><strong>Website</strong>: {{ site.resume_social_links.resume_website_url }}</li>
  {% endif %}

</ul>
{% endif %}
